.album {
  background-color: $palette-brightcontrast;
}

.album__wrapper {
  @include wrapper;
}

.album__list {
  @include list;
  @include wrapper;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2%;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
  }
}

.album__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &--featured {
    position: relative;

    &::before {
      content: "Панорама\a0дня";
      position: absolute;
      top: 0;
      right: 20px;
      min-width: 140px;
      min-height: 5%;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      text-align: center;
      color: $palette-brightcontrast;
      background-color: $palette-accent;
      z-index: 2;
    }
  }
}

.album__photo {
  display: block;
  width: 100%;
}

.album__description {
  padding: 0;
  margin: 0;
}

.album__caption {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 25px 17px;
  background-color: $palette-backs;

  @media (min-width: $tablet-width) {
    padding: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 31px 27px;
  }
}

.album__item--featured .album__caption {
  @include wrapper;
}

.album__author {
  @include font-primary(14px, 24px, bold);
}

.album__time {
  @include font-primary(12px, 24px, 300);
}

.album__comment {
  @include font-primary(14px, 24px);
}

.album__likes {
  margin-top: auto;
}
