.contest__wrapper {
  @include wrapper;
}

.contest__intro {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}
