.contest__wrapper {
  @include wrapper;
}

.contest__intro {
  padding-top: 44px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
  background-color: $palette-brightcontrast;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding-top: 91px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}
