.form {
  @include font-primary(18px, 30px);
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    max-width: $desktop-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__container {
  margin-top: 0;
  margin-bottom: 7px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 35px;
  padding-left: 0;
  padding-right: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 0;
    border: 2px solid $palette-outlines;
    border-radius: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 56px;
  }

  &:nth-child(even) {
    @media (max-width: $tablet-width - 1) {
      background-color: $palette-backs;
    }
  }

  &--data {
    text-transform: uppercase;
  }

  &:nth-child(n+3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &--name {
    order: -10;
    border: none;

    @media (min-width: $tablet-width) {
      order: unset;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &--radio {
    padding-bottom: 46px;
    order: -7;

    @media (min-width: $tablet-width) {
      order: unset;
      padding-bottom: 34px;
    }

    @media (min-width: $desktop-width) {
      padding: 34px 0;
    }
  }

  &--contacts {
    order: -8;

    @media (min-width: $tablet-width) {
      order: unset;
      padding-bottom: 2px;
    }
  }

  &--checks {
    order: -9;
    padding-bottom: 47px;

    @media (min-width: $tablet-width) {
      order: unset;
      padding-bottom: 33px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 3px;
    }
  }

  &--message {
    padding-bottom: 25px;

    @media (min-width: $desktop-width) {
      padding-bottom: 20px;
    }
  }
}

.form__legend {
  @include font-accent(14px, 18px);
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 39px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  text-align: center;
  word-break: break-word;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    width: unset;
    padding-top: 2px;
    padding-bottom: 0;
    padding-left: 31px;
    padding-right: 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 25px;
  }
}

.form__container--checks .form__legend {
  margin-bottom: 17px;

  @media (min-width: $desktop-width) {
    padding-top: 2px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.form__container--radio .form__legend {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.form__container--contacts .form__legend {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
    padding-left: 31px;
    padding-right: 31px;
  }
}

.form__container--message .form__legend {
  padding: 31px 38px 6px 38px;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
    padding-bottom: 0;
  }
}

.form__label {
  @include font-primary(18px, 30px);
  position: relative;
  background-color: inherit;
}

.form__container--data .form__label {
  @include font-accent(14px, 30px);
  display: flex;
  flex-wrap: wrap;
}

.form__label-check {
  padding: 7px 0 0;
  word-break: break-word;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -59px;
    z-index: 10;
    width: 35px;
    height: 35px;
    border: 2px solid $palette-outlines;
    border-radius: 2px;
    background-image: url("../img/form-check.svg");
    background-color: $palette-brightcontrast;
    background-repeat: no-repeat;
    background-size: 5000%;
    background-position: center;
    transition: background-size, 0.22s ease-out, border-color 0.55s ease-out;
  }
}

.form__check-input:checked ~ .form__label-check {
  &::before {
    background-size: 62%;
  }
}

.form__label-radio {
  padding: 7px 0 8px 70px;

  @media (min-width: $tablet-width) {
    padding-left: 61px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 10;
    width: 37px;
    height: 37px;
    border: 2px solid $palette-outlines;
    border-radius: 50%;
    background-image: url("../img/form-circle.svg");
    background-color: $palette-brightcontrast;
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: center;
    transition: background-size, 0.22s ease-out, border-color 0.55s ease-out;
  }
}

.form__radio-input:checked ~ .form__label-radio {
  &::before {
    background-size: 40%;
  }
}

.form__check-input:hover ~ .form__label-check::before,
.form__radio-input:hover ~ .form__label-radio::before {
  border-color: $palette-prime;
}

.form__check-input:active ~ .form__label-check::before,
.form__check-input:focus ~ .form__label-check::before,
.form__radio-input:active ~ .form__label-radio::before,
.form__radio-input:focus ~ .form__label-radio::before {
  border-color: $palette-accent;
}

.form__check-input:disabled ~ .form__label-check,
.form__radio-input:disabled ~ .form__label-radio {
  opacity: 0.3;
}

.form__container--name .form__label {
  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.form__container--contacts .form__label {
  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 10;
      width: 59px;
      height: 59px;
      background-color: $palette-outlines;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
    }
  }

  &--phone {
    &::after {
      background-image: url("../img/form-icon--phone.svg");
    }
  }

  &--email {
    &::after {
      background-image: url("../img/form-icon--mail.svg");
    }
  }
}

.form__label-text {
  padding-left: 23px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 18.75px;
  }
}

.form__container--contacts .form__label-text {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 19px;
    padding-right: 19px;
  }
}

.form__inputs {
  @include list;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 26px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 58px;
  }
}

.form__container--name .form__inputs {
  @media (min-width: $tablet-width) {
    padding: 7px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.form__container--checks .form__inputs {
  @media (min-width: $tablet-width) {
    padding: 20px 58px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 54px;
    row-gap: 52px;
    padding-bottom: 57px;
  }
}

.form__container--radio .form__inputs {
  @media (min-width: $tablet-width) {
    padding: 24px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 72px;
  }
}

.form__container--contacts .form__inputs {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding: 25px 58px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 23px 58px 11px 58px;
  }
}

.form__input {
  margin-top: 0;
  margin-bottom: 17px;
  margin-left: 0;
  margin-right: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 52px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.form__text-input,
.form__textarea-input {
  @include font-primary(18px, 30px, 700, $palette-prime);
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 14px 20px 15px 20px;
  border: 2px solid $palette-outlines;
  transition: border-color 0.55s ease-out;

  &:hover {
    border-color: $palette-prime;
  }

  &:active,
  &:focus {
    border-color: $palette-accent;
    color: $palette-darkcontrast;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    @include font-primary(18px, 30px, 400, $palette-prime);
    opacity: 1;
  }
}

.form__container--contacts .form__text-input {
  @media (min-width: $tablet-width) {
    padding-right: 80px;
  }
}

.form__container--checks .form__input {
  margin-bottom: 52px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-left: 59px;

    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }

    &:nth-child(2) {
      grid-column: 1;
    }

    &:nth-child(3) {
      grid-column: 2;
      grid-row: 1;
    }

    &:nth-child(5) {
      grid-row: 1;
    }
  }
}

.form__container--radio .form__input {
  margin-bottom: 45px;

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__container--contacts .form__input {
  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__textarea-input {
  display: block;
  height: 201px;
  margin: 0;
  padding-top: 13px;
  resize: vertical;

  @media (min-width: $tablet-width) {
    height: 193px;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    height: 128px;
    padding-top: 13px;
  }
}

.form__buttons {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
  padding: 16px 20px;
  background-color: $palette-brightcontrast;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 39px;
    padding: 9px 20px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0 0 0;
    margin: 0;
  }
}

.form__submit {
  @include font-menu(18px, 30px);
  margin: 0 0 34px;
  padding: 16.5px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  color: $palette-brightcontrast;
  background-color: $palette-highlite;

  @media (min-width: $tablet-width) {
    min-width: 267px;
    margin: 0 auto 0 0;
  }

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba($palette-brightcontrast, 0.3);
  }

  &:disabled {
    background-color: $palette-outlines;
  }
}

.form__requirements {
  @include font-primary(14px, 30px);
  margin: 0;
  text-transform: uppercase;
}

.form__mark {
  color: $palette-accent;
}

.form__requirements-addition {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.form__warning {
  background-color: rgba($palette-accent, 0.11);
  border: 2px inset $palette-accent;

  &::placeholder {
    color: desaturate($palette-accent, 10%);
  }
}
