.intro {
  padding-top: 44px;
  padding-left: 0;
  padding-right: 0;
  background-color: $palette-brightcontrast;

  @media (min-width: $tablet-width) {
    padding-top: 91px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.intro__text {
  @include font-primary(14px, 30px);
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.intro__text-addition {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
