.intro__text {
  @include font-primary(14px, 30px);
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.intro__text-addition {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
