.invitation {
  display: none;
  padding: 54px 0;

  @media (min-width: $tablet-width) {
    display: block;

    @media (min-width: $desktop-width) {
      padding-top: 18px;
      padding-bottom: 60px;
      background-color: $palette-backs;
    }
  }
}

.invitation__wrapper {
  @include wrapper;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr;
  }
}

.invitation__image {
  order: 1;

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
    padding-left: 1px;
  }
}

.invitation__description {
  order: 2;
  display: flex;
  flex-direction: column;
  padding-top: 42px;

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 5px;
    padding-left: 57px;
    padding-right: 36px;
  }
}

.invitation__title {
  @include font-titles(30px, 36px);
  margin: 0;
  margin-bottom: 10px;
  padding-right: 20px;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    margin-bottom: 25px;
  }
}

.invitation__text {
  @include font-primary;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 31px;
  }
}

.invitation__link {
  @include font-accent($line-height: 24px);
  text-decoration: underline;
  margin: 0;
  transition: 0.42s ease;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    color: $palette-prime;
    text-decoration: none;
    opacity: 0.3;
  }
}
