.likes {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.likes__text {
  @include font-accent(12px, 24px);
}

.likes__button {
  width: 13px;
  height: 12px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}
