.main-nav {
  @include font-menu();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 23px 0;
}

.main-nav__logo {
  display: block;
  width: 74px;
  height: 23px;
  background-image: url("../img/pink_header-logo--small.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main-nav__menu-button {
  width: 50px;
  height: 24px;
  margin-left: auto;
  background-image: url("../img/menu-btn--close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  &--open {
    width: 23px;
    height: 23px;
    background-image: url("../img/menu-btn--open.svg");
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  @include list();
  display: flex;
  flex-direction: column;
  width: 100%;

  &--hidden {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 66%;
  }
}

.main-nav__item {
  text-align: center;
}

.main-nav__item a {
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: $palette-brightcontrast;
}
