.main-nav {
  @include font-menu();
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 52px;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 2px;
  background-color: unset;

  &--no-js {
    margin-bottom: 13px;
    padding-bottom: 0;
    background-color: $palette-prime;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--opened {
    margin-bottom: 12px;
    padding-bottom: 5px;
    background-color: $palette-prime;

    @media (min-width: $tablet-width) {
      padding-bottom: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    background-color: unset;
  }
}

.main-nav__logo {
  display: block;
  margin: 0 0 0 20px;
  padding: 10px 0;
  transition: color, opacity 0.72s ease;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
    height: 40px;
    margin: 0;
    padding: 15px 0;
  }
}

.main-nav__logo-icon {
  display: none;
  width: 100%;
  color: $palette-brightcontrast;
  fill: $palette-accent;
  transition: color 0.15s ease, fill 0.42s ease, opacity 0.22s ease;

  &--mobile {
    @media (max-width: $tablet-width - 1) {
      display: block;
    }
  }

  &--tablet {
    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.main-nav__logo:hover .main-nav__logo-icon,
.main-nav__logo:focus .main-nav__logo-icon {
  color: $palette-accent;
  fill: $palette-brightcontrast;
}

.main-nav__logo:active .main-nav__logo-icon {
  color: $palette-brightcontrast;
  fill: $palette-accent;
  opacity: 0.3;
}

.main-nav__menu-button {
  width: 50px;
  height: 24px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: auto;
  margin-right: 20px;
  transition: color, opacity 0.42s ease;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--no-js .main-nav__menu-button {
  display: none;
}

.main-nav--opened .main-nav__menu-button {
  width: 23px;
  height: 23px;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
  }
}

.main-nav__menu-button-icon {
  display: none;
  color: $palette-brightcontrast;
  transition: color 0.42s ease, opacity 0.22s ease;
}

.main-nav__menu-button:hover .main-nav__menu-button-icon,
.main-nav__menu-button:focus .main-nav__menu-button-icon {
  color: $palette-accent;
}

.main-nav__menu-button:active .main-nav__menu-button-icon {
  opacity: 0.3;
}

.main-nav--closed .main-nav__menu-button-icon--open {
  display: block;
}

.main-nav--opened .main-nav__menu-button-icon--close {
  display: block;
}

.main-nav__list {
  @include list();
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $palette-prime;
  box-shadow: 0 -1px 0 #000000;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 66%;
    background-color: unset;
    box-shadow: none;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $desktop-width - 1) {
    display: none;
    box-shadow: none;
  }
}

.main-nav--opened .main-nav__list {
  animation: menu-appearence 0.4s;
  position: absolute;
  top: 70px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    top: 110px;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.main-nav--no-js .main-nav__list {
  position: static;
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

@keyframes menu-appearence {
  0% {
    transform: translateY(-20px);
    opacity: 0.85;
  }


  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 1px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 12px;
  box-shadow: 0 1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 30px;
    box-shadow: none;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__item a {
  padding-top: 10px;
  padding-bottom: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: $palette-brightcontrast;
  transition: color 0.42s ease, opacity 0.21s ease;

  &:hover,
  &:focus {
    color: $palette-accent;
  }

  &:active {
    opacity: 0.3;

    @media (min-width: $desktop-width) {
      color: $palette-brightcontrast;
    }
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid transparent;
    text-transform: none;
    font-weight: normal;

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav__item--current a {
  border-bottom-color: $palette-brightcontrast;

  &:hover,
  &:focus {
    color: unset;
    opacity: unset;
    cursor: default;
  }
}
