.map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 16.4%;
    background-color: $palette-brightcontrast;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    z-index: 10;

    @media (min-width: $tablet-width) {
      height: 18.1%;
    }

    @media (min-width: $desktop-width) {
      height: 17%;
    }
  }
}

.map__container {
  position: relative;
  width: 100%;
  height: 200px;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 481px;
  }
}

.map__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
}

.map__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
