.map__container {
  position: relative;
  width: 100%;
  height: 200px;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}

.map__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
}

.map__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
