.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.page__body {
  box-sizing: border-box;
  min-width: 320px;
  margin: 0;
  padding: 0;
  text-transform: none;
  font-kerning: none;
  background-color: #ffffff;
  color: #000000;
}
