.page-footer {
  padding: 25px 0;
  background-color: $palette-brightcontrast;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
    padding-bottom: 50px;
  }
}

.page-footer__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
    margin-bottom: 15px;
  }
}

.page-footer__logo-icon {
  display: none;
  width: 100%;
  color: $palette-prime;
  fill: $palette-accent;
  transition: color 0.21s ease, opacity 0.42s ease;

  &--tablet {
    @media (max-width: $desktop-width - 1) {
      display: block;
    }
  }

  &--desktop {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.page-footer__logo:hover .page-footer__logo-icon,
.page-footer__logo:focus .page-footer__logo-icon {
  color: $palette-accent;
}

.page-footer__logo:active .page-footer__logo-icon {
  color: $palette-prime;
  opacity: 0.3;
}

.page-footer__social {
  margin-bottom: 1px;
  padding: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 21px;
    padding-top: 20px;
  }
}

.page-footer__copyright-link {
  @include font-primary(14px, 18px);
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
    font-size: 18px;
  }
}

.page-footer__copyright-icon {
  margin-bottom: 1px;
  margin-left: 15px;
  padding: 14px 0;
  color: $palette-accent;
  transition: color 0.42s ease, opacity 0.21s ease;

  @media (min-width: $tablet-width) {
    margin-top: 1px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
    margin-left: 13px;
  }
}

.page-footer__copyright-link:hover .page-footer__copyright-icon,
.page-footer__copyright-link:focus .page-footer__copyright-icon {
  color: $palette-prime;
}

.page-footer__copyright-link:active .page-footer__copyright-icon {
  opacity: 0.3;
}
