.page {
  height: 100%;

  @include font-primary;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  text-transform: none;
  font-kerning: none;
  background-color: $palette-brightcontrast;
}
