.page-header {
  position: relative;
  background-image: url("../img/back--tablet.jpg");
  background-color: $mirage;
  background-size: auto;
  background-repeat: repeat;
  background-position: center top;

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/back--mobile.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back--desktop.jpg");
  }
}

.page-header__nav {
  background-color: rgba(#000000, 0.3);

  &--open {
    background-color: $palette-prime;
  }

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(#000000, 0.3);
  }
}

.page-header__wrapper {
  @include padding-wrapper;
  position: relative;
}

.page-header__headline {
  position: relative;
  min-height: 143px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    min-height: 263px;
    padding-top: 67px;
  }

  @media (min-width: $desktop-width) {
    min-height: 225px;
    padding-top: 59px;
    max-width: $desktop-content;
    margin: 0 auto;
  }
}

.page-header__illustration {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 545px;
  }

  @media (min-width: $desktop-width) {
    left: unset;
    right: 4.3%;
    width: 555px;
    height: 645px;
    transform: unset;
  }
}

.page-header--promo .page-header__headline {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    min-height: 569px;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    min-height: 693px;
  }
}

.page-header__title {
  @include font-menu(24px, 33px, 300, $palette-brightcontrast);
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.page-header--promo .page-header__title {
  position: relative;
  z-index: 1;
  min-height: 371px;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    width: 300px;
    min-height: unset;
    padding-bottom: 381px;
    padding-top: 44px;
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
    padding-top: 49px;
    font-size: 50px;
    line-height: 68px;
  }
}

.page-header__container {
  @include padding-wrapper;
  background-color: $palette-promo;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 71px;
    z-index: 1;
    width: 300px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 64px;
    z-index: 1;
    left: 50%;
    width: $desktop-content;
    transform: translateX(-50%);
  }
}

.page-header__download {
  // width: 280px;
  margin: 0 auto;
  padding: 27.5px 0;

  @media (min-width: $tablet-width) {
    max-width: 300px;
    margin-left: 0;
  }
  //
  // @media (min-width: $desktop-width) {
  //   width: 300px;
  //   padding: 28px 0;
  //   background: none;
  // }
}
