.page-header {
  @include retina-background("back--tablet", "jpg", 1200px);
  position: relative;
  background-color: $mirage;
  background-size: auto;
  background-repeat: repeat;
  background-position: center top;

  @media (max-width: $mobile-width-only) {
    @include retina-background("back--mobile", "jpg", 320px);
  }

  @media (min-width: $desktop-width) {
    @include retina-background("back--desktop", "jpg", 2560px);
  }
}

.page-header__nav {
  background-color: rgba(#000000, 0.3);

  &--open {
    background-color: $palette-prime;
  }

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(#000000, 0.3);
  }
}

.page-header__headline {
  position: relative;
  min-height: 143px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    min-height: 263px;
    padding-top: 67px;
  }

  @media (min-width: $desktop-width) {
    min-height: 225px;
    padding-top: 59px;
    max-width: $desktop-content;
    margin: 0 auto;
  }
}

.page-header__title-container {
  @include padding-wrapper;
  padding-bottom: 20px;
}

.page-header__title {
  @include font-menu(24px, 33px, 300, $palette-brightcontrast);
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

// promo-styles
.page-header--promo .page-header__headline {
  display: grid;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    min-height: 693px;
  }
}

.page-header--promo .page-header__title-container {
  grid-row-start: 1;
  grid-column-start: 1;
  margin-bottom: 295px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 0;
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 49px;
  }
}

.page-header--promo .page-header__title {
  line-height: 120%;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.page-header__illustration-container {
  grid-row-start: 1;
  grid-column-start: 1;
  margin: auto auto 0 auto;

  @media (min-width: $tablet-width) {
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 147px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 305px;
  }
}

.page-header__illustration {
  display: block;

  @media (min-width: $tablet-width) {
    width: 473px;
    height: 545px;
  }

  @media (min-width: $desktop-width) {
    width: 555px;
    height: 645px;
  }
}

.page-header__download {
  margin: 0;
  padding: 27.5px 20px;
  background-color: $palette-promo;

  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    background: none;
    max-width: 300px;
    margin-left: 0;
    padding: 10px 20px 99px;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 0 92px;
  }
}
