.photo-editor__wrapper {
  @include wrapper;
}

.photo-editor__intro {
  text-align: center;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.photo-editor__text {
  @include font-primary(14px, 30px);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.photo-editor__interface {
  padding: 0;
  background-color: $palette-backs;
  padding-top: 20px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(266px, auto) auto;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 0;
    grid-template-rows: minmax(347px, auto) auto;
    width: $desktop-content;
    padding: 55px 0;
    margin: 0 auto 28px auto;
  }
}

.photo-editor__image-box {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 374px;
  margin: 0 auto 27px auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
    margin: auto;
    padding-left: 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 2px 10px 2px 0;
  }
}

.photo-editor__image {
  width: 100%;
}

.photo-editor__controls {
  min-height: 134px;
  margin: 0 0 38px 0;
  padding: 0 20px 0 20px;
  border: none;
  border-bottom: 1px solid rgba($palette-prime, 0.1);

  @media (min-width: $tablet-width) {
    margin: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 60px;
    padding: 0;
  }
}

.photo-editor__tools-selectors {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.photo-editor__tool {
  width: 51px;
  height: 47px;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.photo-editor__tool svg {
  color: $palette-prime;
  opacity: 0.3;
  transition: color 0.42s ease, opacity 0.42s ease-out;
}

.photo-editor__tool:hover svg,
.photo-editor__tool:focus svg {
  opacity: 0.5;
}

.photo-editor__tool--current svg {
  color: $palette-accent;
  opacity: 1;
}

.photo-editor__range {
  margin: 0 20px;
  margin-bottom: 17px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin: 0 0 16px 10px;
    padding: 10px 18px 17px 56px;
    border-bottom: 1px solid rgba($palette-prime, 0.1);
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding: 12px 30px 15px 92px;

    &:last-child {
      border-bottom: none;
    }
  }

  &--crop {
    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-crop.svg");
      background-size: 22px;
      background-position: left 5px top 9px;
    }

    @media (min-width: $desktop-width) {
      background-size: auto;
      background-position: left top;
    }
  }

  &--fill {
    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-fill.svg");
      background-size: 24px;
      background-position: left 4px top 11px;
    }

    @media (min-width: $desktop-width) {
      background-size: auto;
      background-position: left top 1px;
    }
  }

  &--contrast {
    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-contrast.svg");
      background-size: 16px;
      background-position: left 8px top 12px;
    }

    @media (min-width: $desktop-width) {
      background-size: auto;
      background-position: left 6px top 6px;
    }
  }

  &:not(.photo-editor__range--current) {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.photo-editor__buttons {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0 33px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 60px 0 0;
  }
}

.photo-editor__button {
  @include font-menu(18px, 18px, bold, rgba($palette-prime, 0.1));
  display: block;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 3px solid rgba($palette-prime, 0.1);
  transition: color 0.42s ease-out, background-color 0.42s ease-in, border-color 0.42s ease-in;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 183px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus {
    color: rgba($palette-prime, 0.3);
    border-color: rgba($palette-prime, 0.3);
  }

  &:active {
    color: rgba($palette-brightcontrast, 0.3);
    background-color: rgba($palette-prime, 0.3);
    border-color: rgba($palette-prime, 0);
  }

  &--upload {
    color: $palette-accent;
    border-color: $palette-accent;

    &:hover,
    &:focus {
      color: $palette-brightcontrast;
      background-color: $palette-accent;
      border-color: $palette-accent;
    }

    &:active {
      color: rgba($palette-brightcontrast, 0.3);
    }
  }

  &--select {
    color: $palette-highlite;
    border-color: $palette-highlite;
  }

  &--hidden {
    display: none;
  }
}
