.popup {
  display: none;
  position: fixed;
  top: 20.6%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: $palette-brightcontrast;
  text-align: center;
  box-shadow: 0 7px 15px $pallete-window-shadow;

  @media (min-width: $tablet-width) {
    width: 69.7%;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 82.54%;
  }

  &--show {
    display: block;
    animation: popup-appearence 0.4s;
  }
}

.popup--visible {
  display: block;
}

@keyframes popup-appearence {
  0% {
    transform: translateX(-50%) translateY(-200px) scale(0.85);
    opacity: 0.1;
  }


  100% {
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 1;
  }
}

.popup__message-area {
  padding: 14px 22px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    padding-bottom: 10px;
    padding-left: 76px;
    padding-right: 76px;
  }

  @media (min-width: $desktop-width) {
    min-height: 214px;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 185px;
    padding-right: 184px;
  }
}

.popup__subject {
  @include font-titles;
  margin: 24.5px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 40px;
  }
}

.popup__text {
  @include font-primary;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.popup__buttons-area {
  padding: 50px 20px;
  background-color: $palette-backs;

  @media (min-width: $tablet-width) {
    padding-left: 81px;
    padding-right: 80px;
    border-radius: 0 0 5px 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.popup--failure .popup__buttons-area {
  background-color: $palette-brightcontrast;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    padding-top: 3px;
    padding-bottom: 52px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 240px;
    padding-right: 240px;
    background-color: $palette-backs;
  }
}

.popup__submit {
  @include font-menu(18px, 30px);
  @include colored-button($palette-highlite, 3px, $palette-brightcontrast);
  box-sizing: border-box;
  width: 100%;
  padding: 16.5px;
}
