.popup {
  display: none;
  position: fixed;
  top: 20.6%;
  z-index: 100;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: $palette-brightcontrast;
  text-align: center;
  box-shadow: 0 7px 15px $pallete-window-shadow;

  @media (min-width: $tablet-width) {
    left: 50%;
    width: 69.7%;
    border-radius: 5px;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    max-width: 780px;
  }

  &--show {
    display: block;
  }
}

.popup__message-arrea {
  padding: 14px 22px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    padding-bottom: 10px;
    padding-left: 76px;
    padding-right: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 230px;
    padding-right: 230px;
  }
}

.popup__subject {
  @include font-titles;
  margin: 24.5px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 40px;
  }
}

.popup__text {
  @include font-primary;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.popup__buttons-arrea {
  padding: 50px 20px;
  background-color: $palette-backs;

  @media (min-width: $tablet-width) {
    padding-left: 81px;
    padding-right: 80px;
    border-radius: 0 0 5px 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    padding-right: 162px;
  }
}

.popup--failure .popup__buttons-arrea {
  background-color: $palette-brightcontrast;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    padding-top: 3px;
    padding-bottom: 52px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 230px;
    padding-right: 230px;
    background-color: $palette-backs;
  }
}

.popup__submit {
  @include font-menu(18px, 30px);
  box-sizing: border-box;
  width: 100%;
  padding: 16.5px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  background-color: $palette-highlite;
}
