.price-table {
  @include font-primary(14px, 30px);
  border-collapse: collapse;
  table-layout: fixed;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price-table__head {
  padding-top: 12px;
  padding-bottom: 31px;
  border-right: 2px solid $palette-outlines;
  background-color: $palette-prime;

  @media (min-width: $tablet-width) {
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 26px;
  }

  &:first-child {
    background: none;
    border: none;
  }

  &:nth-child(2) {
    border-radius: 3px 0 0 0;
  }

  &:last-child {
    border-radius: 0 3px 0 0;
    border-right: none;
  }

  &--bestseller {
    @include bestseller-mark("hit-ribbon--big.svg", 74px);

    @media (min-width: $tablet-width) {
      @include bestseller-mark("hit-ribbon--small.svg", 59px);
    }

    @media (min-width: $desktop-width) {
      @include bestseller-mark("hit-ribbon--big.svg", 74px);
    }
  }
}

.price-table__cell {
  padding: 12px 21px 17px 21px;
  border: 2px solid $palette-outlines;
  background-color: $palette-brightcontrast;
  background-repeat: no-repeat;
  background-position: center right 18px;
  font-weight: normal;
  text-align: left;

  &--available {
    background-image: url("../img/mark--check.svg");
  }

  &--unavailable {
    background-image: url("../img/mark--cross.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 8px 16px 7px 15px;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 21px 16px 21px;
  }
}

.price-table__head:first-child,
.price-table__cell:first-child {
  display: none;

  @media (min-width: $tablet-width) {
    display: revert;
    width: 153px;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
  }
}

.price-table__caption {
  @include font-menu(16px, 30px);
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price-table__sum {
  @include font-menu(18px, 25px, 300);
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price-table__annotation {
  @include font-primary;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 2px;
    line-height: normal;
    color: transparent;
  }
}

.price-table__annotation span {
  color: transparent;
}
