.price {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background-color: $palette-backs;
}

.price__wrapper {
  @include wrapper;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__table {
  min-width: $tablet-content;
}

.price__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
