// environment

$track-color: $palette-prime;
$thumb-color: $palette-brightcontrast;
$thumb-outline: $palette-accent;
$thumb-size: 14px;


// style

@mixin track() {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $track-color;
}

@mixin thumb() {
  appearance: none;
  border: 2px solid $thumb-outline;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: 50%;
  background: $thumb-color;
  cursor: pointer;
  transition: background 0.32s ease-out;
}


.range-input {
  width: 100%;
  height: 2px;
  margin: 0;
  padding: $thumb-size / 1.5 0;
  background: transparent;
  border-color: transparent;
  color: transparent;
  appearance: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    margin-top: $thumb-size * -0.4;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &:hover::-webkit-slider-thumb {
    background: lighten($thumb-outline, 30%);
  }

  &:active::-webkit-slider-thumb,
  &:focus::-webkit-slider-thumb {
    background: $thumb-outline;
  }

  &::-moz-range-thumb {
    @include thumb;
    height: $thumb-size - 4;
    width: $thumb-size - 4;
  }

  &::-moz-range-track {
    @include track;
  }

  &:hover::-moz-range-thumb {
    background: lighten($thumb-outline, 30%);
  }

  &:active::-moz-range-thumb,
  &:focus::-moz-range-thumb {
    background: $thumb-outline;
  }

  &::-ms-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
  }

  &::-ms-fill-lower {
    background: $track-color;
  }

  &::-ms-fill-upper {
    background: $track-color;
  }

  &:hover::-ms-thumb {
    background: lighten($thumb-outline, 30%);
  }

  &:active::-ms-thumb,
  &:focus::-ms-thumb {
    background: $thumb-outline;
  }
}
