.reviews {
  padding-top: 41px;
  padding-bottom: 34px;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    padding-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    padding-bottom: 9px;
  }
}

.reviews__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
}

.reviews__list {
  @include list();

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 22px auto 22px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 231px;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 218px;
  }

  @media (min-width: $desktop-width) {
    max-width: 690px;
    margin: 0 auto;
    padding-top: 119px;
    background-image: url("../img/quotes.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top 7px;
  }
}

.reviews__author-name {
  @include font-titles(18px, 30px);
  order: 1;
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-bottom: 2px;
  }
}

.reviews__author-about {
  @include font-primary(14px, 30px);
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 2;
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  @include font-primary(14px, 30px);
  order: 1;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 36px;
  }
}

.reviews__arrows {
  display: none;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    display: block;

    &--prev {
      grid-row-start: 1;
      grid-column-start: 1;
    }

    &--next {
      grid-row-start: 1;
      grid-column-start: -2;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.reviews__toggles {
  margin: 3px auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
