.social__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  padding: 4px;

  @media (min-width: $desktop-width) {
    padding: 2.5px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: 3px solid rgba($palette-prime, 0.1);
  border-radius: 50%;
  transition: border-color 0.42s ease, opacity 0.21s ease;

  &:hover,
  &:focus {
    border-color: $palette-prime;
  }

  &:active {
    border-color: rgba($palette-prime, 0.3);
    opacity: 0.3;
  }
}
