// Colors

// color-binding
$ebonyclay: #283645;
$cerisered: #d22856;
$junglegreen: #2aab6d;
$mercury: #e5e5e5;
$concrete: #f2f2f2;
$mirage: #1d2631;

// layout variables
$palette-prime: $ebonyclay;
$palette-accent: $cerisered;
$palette-highlite: $junglegreen;
$palette-outlines: $mercury;
$palette-backs: $concrete;
$palette-darkcontrast: #000000;
$palette-brightcontrast: #ffffff;
