// Colors

// color-binding
$ebonyclay: #283645;
$cerisered: #d22856;
$rose: #ff0b60;
$junglegreen: #2aab6d;
$mercury: #e5e5e5;
$concrete: #f2f2f2;
$mirage: #1d2631;

// layout variables
$palette-prime: $ebonyclay;
$palette-accent: $cerisered;
$photo-filter: $rose;
$palette-highlite: $junglegreen;
$palette-outlines: $mercury;
$palette-backs: $concrete;
$palette-promo: $mirage;
$palette-darkcontrast: #000000;
$palette-brightcontrast: #ffffff;
$pallete-window-shadow: rgba(0, 1, 1, 0.15);


// Content

// Viewports
$mobile-width-only: 320px;
$tablet-width: 660px;
$desktop-width: 960px;

// content
$mobile-content: $mobile-width-only - 40; //280
$tablet-content: $tablet-width - 40; //620
$desktop-content: $desktop-width - 20; //940
